:root{
    --bg_color: #fafad2;
    --txt_color: #2f4f4f;
    --dark_color: #ffffff86;
    --complementary_color: #daa520;
    --accent_color: #629962;
 
}

*{
    /* filter: hue-rotate(240deg); */
    margin: 0;
    padding: 0;
}

body{
    color: var(--txt_color);
    
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background: var(--bg_color) ;
    display: flex;
    flex-direction: column;
}
h1{
    font-family:'Courier New', Courier, monospace;
}
.main{
    display: flex;
    flex-direction: column;
    padding: auto;
    margin: 2em;
}
.main > select{
    margin: 0.3em;
}
.controls{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
    grid-template-rows: 1fr;
    background: var(--dark_color);
    padding: 1em;
    box-shadow: -0.1em 0 0.4em var(--complementary_color);
    border-radius: 0.5em;
    font-family:'Courier New', Courier, monospace;
}

.performance{
    font-family: monospace;
    margin-left: 2.5em;
    background: #acff2f57 ;
    font-size: x-large;

}

table{
    animation-name: appear;
    animation-duration: 0.3s;
   
    padding: 2em;
    font-size: larger;
}
td {
    
    padding: 0.2em;
    text-align: center;
}
tr:hover{
    
    background: #acff2f57 ;
    border-radius: 20px;
    box-shadow: -0.1em 0 0.4em goldenrod;

}
tr:nth-child(odd):hover{
    background: #acff2f57 ;
    border-radius: 20px;
}
tr:nth-child(odd){
    background: #00000019;
}
thead{
    position: sticky;
    top: 0;
    background: antiquewhite;
    font-size: xx-large;
    text-transform: uppercase;
}
.results{
   font-family: monospace;
}
@keyframes appear {
    from {transform:translateX(100vw); opacity: 0;}
    to {transform:translateX(0px); opacity: 1;}
  }